<%= form_with model: article do |form|%>
  <div class='article-container'>
    <%= form.text_field :title, placeholder: 'Title', maxlength: '50'%>

    <% article.errors.full_messages_for(:title).each do |message|%>
      <div class='error-msg'><%= message %></div>
    <% end %>

  </div>

  <div class='article-container'>
    <%= form.text_area :body, placeholder: 'Body'%>
    
    <% article.errors.full_messages_for(:body).each do |message|%>
      <div class='error-msg'><%= message %></div>
    <% end %>

  </div>

  <div class="flex">
    <div class='article-flex-container'>
      <%= form.label :status, class: 'create-article' %><br>
      <%= form.select :status, ['public', 'private', 'archived'], selected: 'public' %>
    </div>
    <div class='article-flex-container text-align-right'>
      <%= form.submit 'Publish', class: 'button'%>
    </div>
  </div>

<% end %>